/*
	Author:			Dylan Pogue
	Assignment:		Semester Project
	Date:			04/02/2021
	Purpose:		Stylesheet
*/

img.logo {
    display: block;
    width: 900px;
    margin: auto;
    float: center;
}

header {
    width: 900px;
    margin: auto;
    border: 1px solid black;
    padding 15px;
    text-align: center;
    background-color: #FFC08C;
}

img.floatRight {
	display: block;
	float: right;
	margin: 0 15px;
	height: 150px;
}

p {
    width: 900px;
    margin: auto;
    text-align: center;
    
}

body {
    width 900px;
    margin: auto;
    background-color: #FF9640;
    font-size: 1.5em;
    font-family: sans-serif;
}

div {
    width: 900px;
    margin: auto;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: #FFC08C;
}

nav {
    height: 5em;
	padding: 0;
	margin-top: 15px;
}

nav a {
    display: block;
	width: 150px;
	text-align: center;
	margin-left: 250px;
    margin-right 0px;
	float: left;
	padding: 5px;
}

nav a:link, nav a:visited {
	background-color: #FFC08C;
	color: solid black;
    border: 1px solid black;
}

nav a:hover, nav a:active {
	background-color: #FFDCBF;
	color: solid black;
	border: 1px solid black;
}

a {
	text-decoration: none;
	color: black;
}

.link {
    display: block;
    width: 250px;
    margin: auto;
    text-align: center;
    border: 4px solid black;
    padding: 15px;
    color: solid black;
    background-color: #FFC08C;
}

.link:hover {
    background-color: #FFDCBF;
    color: solid black;
}

